.title {
    font-family: 'Grechen Fuemen', cursive;
    font-size: 250%;
    cursor: pointer;
    margin: 0;
    padding: 1% 2%;
    color: gray;
}

.title:hover {
    transition: 0.3s ease-in;
    color: #e91e63;
}

/* projects section */

.projects-section {
    background-image: url('bg-img.jpg');
    padding: 3%;
}

.d-flex {
    background-color: transparent;
}

.flex-item {
    background-color: #e91e63;
    color: white;
    margin: 10px;
    border-radius: 5px;
}

.flex-item:hover {
    transition: .3s ease-out;
    background-color: black;
    border: 3px solid #e91e63;
}

.d-flex a {
    text-decoration: none;
}

.card-row {
    padding-left: 10%;
}

.card {
    margin: 20px;
}

.card a {
    text-decoration: none;
    color: #424242;
}

.card-title:hover {
    transition: .3s ease-out;
    color: #e91e63;
}


@media screen and (max-width: 500px) {

    .card-row {
        padding-left: 20%;
    }
}

.footer-section {
    padding: 2%;
    padding-top: 3%;
    text-align: center;
    background-color: #eeeeee;
}